<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Image Generation</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>3D Image Generation</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" id="image" name="image" accept="image/*" required>
        <br>
        <img id="preview" src="#" alt="Image Preview" style="display: none;">
        <p id="image-name"></p>
        <button type="submit">Upload and Process</button>
        <br>
        <div id="loader" class="loader" style="display: none;"></div>
    </form>
    <div class="container" id="result-container" style="display: none;">
        <div class="section" id="section1" style="display: none;">
            <h2>Original 3D Image</h2>
            <iframe id="original-viewer" title="Original Scan" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allow="fullscreen"></iframe>
            <button id="validate1" onclick="showSection2()">Validate and Proceed</button>
        </div>
        <div class="section" id="section2" style="display: none;">
            <h2>Final 3D Image</h2>
            <iframe id="final-viewer" title="Final Scan" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allow="fullscreen"></iframe>
        </div>
    </div>

    <script src="https://static.sketchfab.com/api/sketchfab-viewer-1.12.1.js"></script>
    <script>
        let originalRefreshInterval, finalRefreshInterval;

        function initSketchfabViewer(iframeId, modelUid, url) {
            var iframe = document.getElementById(iframeId);
            iframe.src = url;

            console.log(`Initializing Sketchfab viewer for ${iframeId} with URL: ${url}`);

            var client = new Sketchfab('9b7d7fb9860f4aceb368cdca9f458ab8', iframe);

            client.init(modelUid, {
                success: function(api) {
                    api.start();
                    api.addEventListener('viewerready', function() {
                        console.log(iframeId + ' is ready');
                        if (iframeId === 'original-viewer') {
                            clearInterval(originalRefreshInterval); // Arrête le rafraîchissement une fois le viewer prêt
                        } else if (iframeId === 'final-viewer') {
                            clearInterval(finalRefreshInterval); // Arrête le rafraîchissement une fois le viewer prêt
                        }
                    });
                },
                error: function() {
                    console.log(iframeId + ' error');
                }
            });
        }

        function refreshViewer(iframeId, url) {
            var iframe = document.getElementById(iframeId);
            iframe.src = url;
            console.log(`Refreshing ${iframeId} with URL: ${url}`);
        }

        async function loadModels() {
            try {
                // Afficher le loader
                document.getElementById('loader').style.display = 'block';

                const formData = new FormData(document.getElementById('upload-form'));
                const response = await fetch('/process_image', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    const result = await response.json();
                    console.log('Response from server:', result);
                    result.logs.forEach(log => console.log(log));

                    // Générer les URLs des modèles Sketchfab
                    const originalUrl = `https://sketchfab.com/models/${result.original_model_id}/embed`;
                    const finalUrl = `https://sketchfab.com/models/${result.final_model_id}/embed`;

                    // Afficher les URLs dans la console
                    console.log(`Original Model URL: ${originalUrl}`);
                    console.log(`Final Model URL: ${finalUrl}`);

                    // Afficher le conteneur de résultats et la première section après le traitement
                    document.getElementById('result-container').style.display = 'flex';
                    document.getElementById('section1').style.display = 'flex';

                    // Initialiser les viewers Sketchfab avec les URLs retournées
                    initSketchfabViewer('original-viewer', result.original_model_id, originalUrl);
                    initSketchfabViewer('final-viewer', result.final_model_id, finalUrl);

                    // Définir un intervalle pour rafraîchir les iframes toutes les 5 secondes jusqu'à ce qu'elles se chargent correctement
                    originalRefreshInterval = setInterval(() => {
                        refreshViewer('original-viewer', originalUrl);
                    }, 5000); // 5 secondes
                    finalRefreshInterval = setInterval(() => {
                        refreshViewer('final-viewer', finalUrl);
                    }, 5000); // 5 secondes

                } else {
                    console.error('Failed to process the image.');
                }
            } catch (error) {
                console.error('Error during the image processing:', error);
            } finally {
                // Masquer le loader après traitement
                document.getElementById('loader').style.display = 'none';
            }
        }

        document.getElementById('upload-form').onsubmit = function(event) {
            event.preventDefault();
            loadModels();
        };

        function showSection2() {
            document.getElementById('section1').style.display = 'none';
            document.getElementById('section2').style.display = 'flex';
        }

        document.getElementById('image').onchange = function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('preview').src = e.target.result;
                    document.getElementById('preview').style.display = 'block';
                    document.getElementById('image-name').innerText = file.name;
                };
                reader.readAsDataURL(file);
            }
        };
    </script>
</body>
</html>
